<ion-content fullscreen>
    <div class="w-100 h-100 wrapper">
        <ion-grid class="ion-padding">
            <ion-row>
                <div class="back-btn" routerLink="/home/order">
                    <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
                </div>
                <div class="ml-2  d-flex flex-column">
                    <div class="title mt-1">
                        {{list[0].product.name}}
                    </div>
                </div>
            </ion-row>

            <ion-row class="mt-4 px-2 py-2 flex-wrap d-flex justify-content-center coach-container"
                     style="margin-bottom: 44px">
                <div class="coach my-1 mx-1 animated"
                     style="cursor: pointer"
                     *ngFor="let item of list">
                    <div class="d-flex flex-column px-2 ">
                        <div class="my-2"
                             style="font-size: 14px">
                            <span style="font-size: 11px;color: #acacac">انبار</span>
                        </div>
                        <div class="my-1 px-2">
                            {{item.product.reservoir.name}}
                        </div>
                        <div class="my-1">
                            <span style="font-size: 11px;color: #acacac">محصول</span>
                        </div>
                        <div class="mt-1 mb-1 px-2 d-flex justify-content-between">
                            <div style="font-size: 13px; color: #787878">
                                {{item.product.name}}
                            </div>
                            <div>
                                <ion-button color="danger"
                                            (click)="routeToProduct(item.id)">
                                    سایز ها
                                </ion-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>



<ion-tab-bar slot="bottom">
    <ion-tab-button tab="music">
        <img src="../../../../../assets/image/avatar%20(1).png" width="21"/>
    </ion-tab-button>

    <ion-tab-button tab="games" routerLink="/home">
        <img src="../../../../../assets/image/Group%20946.png" width="22"/>
    </ion-tab-button>
</ion-tab-bar>
