.top-left-img {
  width: 80%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../../../../assets/image/home/Group 1048.png") no-repeat;
  background-size: contain;

}

.training-box {
  min-height: 150px !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 5px;
  position: relative;

  .parent {
    background-position: center;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    position: relative;
    opacity: 0.45;
    border-radius: 5px;
  }
  .child {
    color: white;
    position: absolute;
    top: 0;

    .text {
      font-family: DimaSogand;
      font-size: 30px;
    }

    .play-btn {
      img {
        width: 60px;
        height: auto;
      }
    }
  }
}


.right-in-animation {
  animation: zoomIn 0.7s;
}

.left-in-animation {
  animation: zoomIn 0.7s;
}
