#coach-image {
  min-height: 330px;
  height: 55%;
  background: url("../../../../../../../assets/image/home/field/coach/coach.png") no-repeat center;
  background-size: cover;
  position: relative;

  @media (min-width: 767.98px) {
    min-height: 530px !important;
  }

  @media (min-width: 991.98px) {
    min-height: 630px !important;
  }

  .image-cover {
    position: absolute;
    background: rgba(83, 81, 81, 0.4);
  }
}

.menu {
  height: 35px;
  color: #36cc45;
  font-weight: bold;
  z-index: 500;

  ion-col {
    background: white;
    border: 1px solid #36cc45;
    line-height: 2px;
  }

  :first-child {
    border-radius: 0 36px 0 0;
    color: white;
    background: #36cc45;
    transition: border 0.7s;
  }

  :last-child {
    border-radius: 36px 0 0 0;
    transition: all 0.7s;
  }
}

.bold-font {
  font-size: 15px;
  font-weight: bold
}

.field {
  font-size: 13px;
  border-radius: 36px;
  border: 1px solid #36cc45;
  color: #36cc45;
}

.intro-wrapper {
  position: relative;
  height: 45%;
}

.section {
  color: white;
  min-width: 65px;
  font-weight: bold;
  position: absolute;
  right: 0;
  font-size: 14px !important;
  border-radius: 20px 0 0 20px;
}

.content {
  font-size: 13px;
  color: #707070;
  line-height: 22px;
}

.course-container {
  border-radius: 36px 0 0 0 !important;
  box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.16);
}

.menu-border-radius-zero {
  ion-col {
    border-radius: 0 !important;
    transition: all 0.5s;
  }
}


.primary-bg {
  background: #4dff5e !important;
}

#header-name {
  color: white;
}

.hidden {
  display: none;
  transition: all 0.5s;
}

.header-item {
  background: rgba(54, 204, 69, 0.09);
  color: #36cc45;
  font-size: 14px;
  font-weight: bold;
}

.course-item {
  font-size: 12px;
  line-height: 20px;
}
