<ion-content fullscreen>
    <div class="w-100 h-100 d-flex flex-row flex-wrap">
        <div class="green-part w-100 ion-padding">
            <div class="w-100 d-flex flex-row justify-content-between">
                <div class="d-flex">
                    <div class="back-btn"
                         routerLink="/home">
                        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
                    </div>
                    <div class="ml-2 mt-1 title"
                         style="color: white;font-weight: bold;">
                        حســاب کاربری
                    </div>
                </div>

            </div>
        </div>

        <div class="white-part w-100 d-flex flex-row">
            <!-- user card -->
            <div class="profile-card-box w-100 d-flex justify-content-center">
                <div class="profile-card shadow-box mx-auto d-flex flex-row flex-wrap">
                    <div class="user-image-row w-100">
                        <div class="user-image shadow-box">
                            <div class="set-image shadow-box primary-theme-bg">
                                <img class="mt-2 ml-2" src="../../../../assets/image/home/profile/photo_camera.svg"/>
                            </div>
                        </div>
                    </div>
                    <div class="user-name w-100 d-flex justify-content-center flex-column">
                        <div class="mx-auto name ">
                            <span> {{user.name}} </span>
                            <span> {{user.family}} </span>
                        </div>
                    </div>
                    <div class="bottom-card w-100 d-flex flex-column justify-content-center py-1">

                            <div class="mx-auto mt-1  d-flex justify-content-center" style="font-size: 14px">
                                شماره تماس
                            </div>
                            <div class="mx-auto mt-2">
                                {{user.mobile ? user.mobile : '--'}}
                            </div>

                    </div>
                </div>
            </div>

            <div class="item-list d-flex flex-row flex-wrap w-100">

                <div class="w-100 d-flex flex-row" (click)="commonService.logOut()">
                    <div class="icon d-flex justify-content-center">
                        <img class="ml-3"
                             src="../../../../assets/image/home/profile/sign_out_option.svg">
                    </div>
                    <div class="item-text ml-4 py-2" style="border: none">
                        خروج از حساب کاربری
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
