.wrapper{
  background: url("../../../../assets/image/home/Group 1047.png") no-repeat bottom left;
}



.title {
  font-weight: bold;
  line-height: 24px;
}

.margin-right-zero {
  margin-right: 0 !important;
}

.margin-zero {
  margin: 0 !important;
}

.margin-left-zero {
  margin-left: 0 !important;
}

.card {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  //background: #fff;
  background: url("../../../../assets/image/Mask Group 192.png") no-repeat;
  background-size: cover;
  height: 60px;
}

.sport-fields-icon {
  width: 24px;
}

.sport-field-title {
  font-size: 10px;
  color: #000;
  font-weight: bold;
}


