<ion-content fullscreen>
    <div class="w-100 h-100 wrapper">
        <ion-grid class="ion-padding">
            <ion-row>
                <div class="back-btn">
                    <ion-icon>back</ion-icon>
                </div>
                <div class="ml-2 title">
                    رشتـــه های ورزشــی
                </div>
            </ion-row>
            <ion-row class="py-2 px-2">
                <div class="d-flex justify-content-start custom-input py-1">
                    <img src="../../../../assets/image/Group%201045.png"
                         class="mx-1">
                    <input class="pl-2">
                </div>
            </ion-row>

            <ion-row *ngFor="let row of data">
                <ion-col *ngFor="let col of row">
                    <ion-card class="card"
                              (click)="router.navigate([col.link])"
                              [ngClass]="col.class">
                        <!--<ion-row>
                            <div class="mx-auto py-2 px-1">
                                &lt;!&ndash;<img [src]="col.icon"
                                     class="sport-fields-icon"/>&ndash;&gt;
                            </div>
                        </ion-row>-->
                        <ion-row>
                            <div class="iransan-font sport-field-title mx-auto mt-3 pt-1 pb-2">
                                {{col.text}}
                            </div>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>


<ion-tab-bar slot="bottom">
    <ion-tab-button tab="music">
        <img src="../../../../assets/image/avatar%20(1).png"
             routerLink="/home/profile"
             width="21"/>
    </ion-tab-button>
    <ion-tab-button tab="music">
        <img src="../../../../assets/image/calendar.png"
             width="23"/>
    </ion-tab-button>
    <ion-tab-button tab="movies">
        <img src="../../../../assets/image/Group%20800.png"
             width="28"/>
    </ion-tab-button>
    <ion-tab-button tab="games">
        <img src="../../../../assets/image/Group%20946.png"
             width="22"/>
    </ion-tab-button>
</ion-tab-bar>


