<ion-header translucent>
    <ion-toolbar color="success">
        <ion-title>{{getUsername()}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="top-left-img"></div>
    <div class="bottom-right-img"></div>
    <div class="w-100 h-100 wrapper d-flex justify-content-center align-items-center">
        <ion-grid>
            <ion-row  class="mx-auto" style="width: 90%">
                <ion-col>
                    <ion-card class="ion-padding card margin-left-zero"
                              (click)="router.navigate(['/home/order'])">
                        <ion-row>
                            <div class="icon-section primary-theme-bg mx-auto d-flex justify-content-center align-items-center">
                                <img src="../../../assets/image/home/newspaper%20(1).svg"
                                     width="20px"
                                     height="22px"/>
                            </div>
                        </ion-row>
                        <ion-row style="width: 90%">
                            <div class="mx-auto ion-text-center pt-3 pb-2 px-2">
                                <ion-text>
                                    حواله
                                </ion-text>
                            </div>
                        </ion-row>
                    </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card class="ion-padding card margin-left-zero"
                              (click)="scanBarcode()">
                        <ion-row>
                            <div class="icon-section primary-theme-bg mx-auto d-flex justify-content-center align-items-center">
                                <img src="../../../assets/image/home/newspaper%20(1).svg"
                                     width="20px"
                                     height="22px"/>
                            </div>
                        </ion-row>
                        <ion-row style="width: 90%">
                            <div class="mx-auto ion-text-center pt-3 pb-2 px-2">
                                <ion-text>
                                    تحویل
                                </ion-text>
                            </div>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>


<ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" routerLink="/home/profile">
        <img src="../../../../../assets/image/avatar%20(1).png" width="21"/>
    </ion-tab-button>

    <ion-tab-button tab="main" routerLink="/home">
        <img src="../../../../../assets/image/Group%20946.png" width="22"/>
    </ion-tab-button>


    <ion-tab-button tab="logout" (click)="commonService.logOut()">
        <img  src="../../../../assets/image/home/profile/sign_out_option.svg" width="22">
    </ion-tab-button>
</ion-tab-bar>

