.login-wrapper {
  height: 100%;
  width: 100%;
  font-family: IRANSans;

  background: url("../../../../../../../assets/image/auth/Group 1044 (1).png")   no-repeat;

  .login-title {
    line-height:  24px;
    font-weight: bold;
  }


  .login-btn {
    border-radius: 5px;
    color: white;
    background: #36cc45;
    width: 100%;
    height: 5.5vh;
  }

  .forget-password {
    color: #5b5959;
    font-size: 12px;
  }
}
