<ion-content>
    <div class="login-wrapper d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center w-75 text-center">

            <div class="login-title">
                سامانه حسابداری و انبارداری های تلکام
            </div>

            <div class="py-2">
                <img src="../../../../assets/image/logo/logo.png"/>
            </div>


            <div class="w-100 d-flex flex-column">
                <!-- login inputs -->
                <form [formGroup]="formGroup"
                      class="py-1">
                    <div class="d-flex justify-content-start custom-input py-1">
                        <img src="../../../../assets/image/auth/person-icon.png"
                             class="mx-1">
                        <input class="pl-2"
                               required
                               formControlName="username"
                               placeholder="نــام کـــابری">
                    </div>


                    <div class="d-flex justify-content-start custom-input py-1 mt-3">
                        <img src="../../../../assets/image/auth/password-icon.png"
                             class="mx-1">
                        <input class="pl-2"
                               required
                               formControlName="password"
                               placeholder="رمــز عبــور ">
                    </div>

                    <div class="py-2 w-100">
                        <ion-button *ngIf="!loading"
                                    type="submit"
                                    expand="block"
                                    (click)="login()"
                                    color="success">
                            ورود
                        </ion-button>
                        <ion-button *ngIf="loading"
                                    expand="block"
                                    color="success">
                            <ion-spinner name="dots"></ion-spinner>
                        </ion-button>
                    </div>
                </form>


                <!-- <div class="py-2 w-100">
                     <ion-button expand="block"
                                 (click)="signup()"
                                 color="danger">
                         ثبت نام
                     </ion-button>
                 </div>-->

                <!-- <div class="pt-1">
                     <span class="forget-password">فراموشی رمز عبور</span>
                 </div>-->
            </div>
        </div>
    </div>
</ion-content>
