<ion-header translucent>
    <ion-toolbar color="success">
        <ion-title>درخواست حواله</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <span>بستن</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="w-100 h-100 login-wrapper d-flex ">
        <div *ngIf="loading"
                  class="w-100 h-100 d-flex justify-content-center align-items-center">
            <div >
                <ion-spinner color="danger"
                             name="crescent">
                </ion-spinner>
            </div>
        </div>
        <ion-grid *ngIf="!loading">
            <ion-row class="ion-padding">
            </ion-row>
            <ion-row class="mt-4 px-2 py-3  d-flex flex-column align-items-center">
                <div class="w-100 py-2 d-flex  product-info-box">
                    <div style="color:#acacac">محصول :‌</div>
                    <div> {{data.product.name}}</div>
                </div>

                <div class="w-100 py-3 d-flex  product-info-box">
                    <div style="color:#acacac">از :‌</div>
                    <div>  {{data.product.reservoir.name}}</div>
                </div>

                <div class="w-100 py-3 d-flex  product-info-box">
                    <div style="color:#acacac">به :‌</div>
                    <ion-select [(ngModel)]="toId" interface="popover" id="selection">
                        <ion-select-option *ngFor="let item of reservoirList"
                                           [value]="item.id">
                            {{item.name}}
                        </ion-select-option>
                    </ion-select>
                </div>

                <div class="w-100 d-flex flex-row justify-content-between"
                     *ngFor="let item of orderSized; let i = index">
                    <div style="width: 40%" class="mx-1 mt-3">
                        <span>سایز :‌</span>
                        <span> {{item.size}}</span>
                    </div>
                    <ion-item style="width: 60%" class="mx-1">
                        <ion-label>تعداد :</ion-label>
                        <ion-input [(ngModel)]="orderSized[i].value"></ion-input>
                    </ion-item>
                </div>

            </ion-row>
            <ion-row>
                <div class="py-2 w-100 px-3">
                    <ion-button *ngIf="!loading"
                                type="submit"
                                expand="block"
                                (click)="sendRequest()"
                                color="success">
                        تایید
                    </ion-button>
                    <ion-button *ngIf="loading"
                                expand="block"
                                color="success">
                        <ion-spinner name="dots"></ion-spinner>
                    </ion-button>
                </div>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
