<ion-header translucent>
    <ion-toolbar color="success">
        <ion-title>درخواست حواله</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <span>بستن</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="w-100 h-100 login-wrapper d-flex justify-content-center align-items-center">
        <ion-grid>
            <ion-row class="ion-padding">
            </ion-row>
            <ion-row>
                <div class="py-2 w-100 px-3">
                    <ion-button *ngIf="!loading"
                                type="submit"
                                expand="block"
                                color="success">
                        تایید
                    </ion-button>
                    <ion-button *ngIf="loading"
                                expand="block"
                                color="success">
                        <ion-spinner name="dots"></ion-spinner>
                    </ion-button>
                </div>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
